<header>
    
<div class="container">
  <div class="logo">
  <%= link_to image_tag("logo.png"),root_path%>
  </div>
  <ul class="nav">
 
  <% if user_signed_in? %>
    <%= link_to current_user.email, user_path(current_user) %>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    
  
  <% else %>
    <%= link_to "Login Facebook", user_omniauth_authorize_path(:facebook) %> |
    <%= link_to 'Login', new_user_session_path %>
    |
    <%= link_to 'Regístrate', new_user_registration_path %>
    
  <% end %>
 
  </ul>
</div>   
</header> 
